// Variables
$root-path-url: "../../../";
@import "../../variables";

// Personnalisation
.Navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: color(white);
  z-index: 1001;
}

.Navbar-logoLink {
  display: block;
}

.Navbar-menuItems {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navbar-menuItemLink {
  display: block;
  padding: 20px 10px;
  font-weight: fontWeight(medium);
}

.Navbar-menuItemLink--logo {
  width: 80px;
  padding:10px 15px;

  svg {
    fill: color(primary);
  }
}

.Navbar-menuItemLink,
.Navbar-menuItemLink:active,
.Navbar-menuItemLink:focus,
.Navbar-menuItemLink:visited {
  color: color(primary);
}

.Navbar.inViewport {
  background-color: transparent;

  .Navbar-menuItemLink,
  .Navbar-menuItemLink:active,
  .Navbar-menuItemLink:focus,
  .Navbar-menuItemLink:visited {
    color: color(white);
  }

  .Navbar-menuItemLink--logo svg {
    fill: color(white);
  }
}