// Variables
$root-path-url: "../../../";
@import "../../variables";

// Dépendances
@import "~presstify-framework/partial/breadcrumb/scss/styles";

// Personnalisation
.Breadcrumb {
  margin-bottom: 30px;
}

.Breadcrumb-item {
  font-size:0.8em;
  color: color(medium);

  > a,
  > a:active,
  > a:focus,
  > a:visited {
    color: color(medium);
  }

  > a:hover {
    color: color(medium-alt);
  }

  + .Breadcrumb-item::before {
    content: ">\00a0";
  }

  &:last-child {
    font-weight: fontWeight(bold);

    &::before {
      font-weight: fontWeight(regular);
    }
  }
}